*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-red: hsl(0, 100%, 68%);
  --color-blue: hsl(230, 29%, 20%);
  --color-grey-dark: hsl(230, 11%, 40%);
  --color-grey-medium: hsl(231, 7%, 65%);
  --color-grey-light: hsl(207, 33%, 95%);
  --font-family-primary: "Barlow", sans-serif;
  --font-family-secondary: "Barlow Condensed", sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
  color: var(--color-blue);
}

a,
a:visited,
a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}
