#root {
  padding: 0 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    height: auto;
    padding: 0;
  }
}

.App {
  max-width: 100rem;
  margin: 0 auto;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-left: 4rem;
  padding-bottom: 4rem;
  @media only screen and (max-width: $bp-tiny) {
    padding-bottom: 15rem;
  }
}

.header {
  position: relative;
  &__logo-container {
    flex-basis: 50%;
    padding-top: 5rem;
  }
}

.nav {
  background-color: var(--color-grey-light);
  flex-basis: 50%;
  padding: 5rem 0 40rem 0;
  border-bottom-left-radius: 5rem;
  @media only screen and (max-width: $bp-tiny) {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-bottom: 35rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    transition: visibility 0s, opacity 0.2s, transform 0.7s;

    @media only screen and (max-width: $bp-tiny) {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      padding: 1.5rem 0;
      width: 80%;
      text-align: center;
      transform: translateY(-1000%);
    }
  }
  &__list-item {
    @media only screen and (max-width: $bp-tiny) {
      width: 80%;
    }
    &:not(:last-child) {
      margin-right: 3.5rem;
      @media only screen and (max-width: $bp-tiny) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    &:nth-child(4) a {
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
    &:nth-child(4) {
      &::after {
        content: "\2022";
        color: var(--color-grey-medium);
        @media only screen and (max-width: $bp-tiny) {
          content: none;
          border-bottom: 1px solid var(--color-grey-medium);
        }
      }
      @media only screen and (max-width: $bp-tiny) {
        border-bottom: 1px solid var(--color-grey-medium);
      }
    }

    &:nth-child(5) a {
      color: var(--color-grey-medium);
    }
  }
  &__list-link {
    color: var(--color-blue);
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hamburger-container {
  display: none;
  @media only screen and (max-width: $bp-tiny) {
    display: block;
  }
}
.main {
  margin-top: -13rem;
  position: relative;
  z-index: 10;
  @media only screen and (max-width: $bp-tiny) {
    margin-top: -30rem;
  }
}

.left-column {
  flex-basis: 50%;

  &__heading-container {
    margin-bottom: 5rem;
  }
  &__heading-intro {
    font-size: 1.6rem;
    font-family: var(--font-family-secondary);
    letter-spacing: 0.5rem;
    color: var(--color-grey-medium);
    margin-bottom: 2rem;
  }
  &__span {
    display: inline-block;
    background-color: var(--color-blue);
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    letter-spacing: normal;
  }
  &__heading-middle {
    text-transform: none;
    color: var(--color-grey-dark);
    font-size: 1.8rem;
  }
  &__cta-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__cta-text {
    font-size: 1.5rem;
    color: var(--color-grey-medium);
    letter-spacing: 0.3rem;
    font-family: var(--font-family-secondary);
    @media only screen and (max-width: $bp-medium) {
    }
    @media only screen and (max-width: $bp-tiny) {
      letter-spacing: normal;
    }
  }

  @media only screen and (max-width: $bp-small) {
    order: 2;
  }
}

.right-column {
  flex-basis: 50%;

  &__image {
    display: block;
    width: 150%;
    height: 60%;
  }

  @media only screen and (max-width: $bp-small) {
    order: 1;
    margin-bottom: 5rem;
  }
  @media only screen and (max-width: $bp-tiny) {
    margin-bottom: 8rem;
  }
}
