*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  --color-red: hsl(0, 100%, 68%);
  --color-blue: hsl(230, 29%, 20%);
  --color-grey-dark: hsl(230, 11%, 40%);
  --color-grey-medium: hsl(231, 7%, 65%);
  --color-grey-light: hsl(207, 33%, 95%);
  --font-family-primary: "Barlow", sans-serif;
  --font-family-secondary: "Barlow Condensed", sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }

body {
  font-size: 1.8rem;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
  color: var(--color-blue); }

a,
a:visited,
a:link {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  border: none; }

#root {
  padding: 0 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 47em) {
    #root {
      height: auto;
      padding: 0; } }

.App {
  max-width: 100rem;
  margin: 0 auto;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-left: 4rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 43.75em) {
    .App {
      padding-bottom: 15rem; } }

.header {
  position: relative; }
  .header__logo-container {
    flex-basis: 50%;
    padding-top: 5rem; }

.nav {
  background-color: var(--color-grey-light);
  flex-basis: 50%;
  padding: 5rem 0 40rem 0;
  border-bottom-left-radius: 5rem; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      display: flex;
      justify-content: flex-end;
      padding-right: 4rem;
      padding-bottom: 35rem; } }
  .nav__list {
    display: flex;
    justify-content: center;
    transition: visibility 0s, opacity 0.2s, transform 0.7s; }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 1.5rem 0;
        width: 80%;
        text-align: center;
        transform: translateY(-1000%); } }
  @media only screen and (max-width: 43.75em) {
    .nav__list-item {
      width: 80%; } }
  .nav__list-item:not(:last-child) {
    margin-right: 3.5rem; }
    @media only screen and (max-width: 43.75em) {
      .nav__list-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem; } }
  .nav__list-item:nth-child(4) a {
    cursor: default; }
    .nav__list-item:nth-child(4) a:hover {
      text-decoration: none; }
  .nav__list-item:nth-child(4)::after {
    content: "\2022";
    color: var(--color-grey-medium); }
    @media only screen and (max-width: 43.75em) {
      .nav__list-item:nth-child(4)::after {
        content: none;
        border-bottom: 1px solid var(--color-grey-medium); } }
  @media only screen and (max-width: 43.75em) {
    .nav__list-item:nth-child(4) {
      border-bottom: 1px solid var(--color-grey-medium); } }
  .nav__list-item:nth-child(5) a {
    color: var(--color-grey-medium); }
  .nav__list-link {
    color: var(--color-blue);
    font-family: var(--font-family-secondary);
    font-size: 1.5rem;
    font-weight: 700; }
    .nav__list-link:hover {
      text-decoration: underline; }

.hamburger-container {
  display: none; }
  @media only screen and (max-width: 43.75em) {
    .hamburger-container {
      display: block; } }

.main {
  margin-top: -13rem;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 43.75em) {
    .main {
      margin-top: -30rem; } }

.left-column {
  flex-basis: 50%; }
  .left-column__heading-container {
    margin-bottom: 5rem; }
  .left-column__heading-intro {
    font-size: 1.6rem;
    font-family: var(--font-family-secondary);
    letter-spacing: 0.5rem;
    color: var(--color-grey-medium);
    margin-bottom: 2rem; }
  .left-column__span {
    display: inline-block;
    background-color: var(--color-blue);
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    letter-spacing: normal; }
  .left-column__heading-middle {
    text-transform: none;
    color: var(--color-grey-dark);
    font-size: 1.8rem; }
  .left-column__cta-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .left-column__cta-text {
    font-size: 1.5rem;
    color: var(--color-grey-medium);
    letter-spacing: 0.3rem;
    font-family: var(--font-family-secondary); }
    @media only screen and (max-width: 43.75em) {
      .left-column__cta-text {
        letter-spacing: normal; } }
  @media only screen and (max-width: 47em) {
    .left-column {
      order: 2; } }

.right-column {
  flex-basis: 50%; }
  .right-column__image {
    display: block;
    width: 150%;
    height: 60%; }
  @media only screen and (max-width: 47em) {
    .right-column {
      order: 1;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 43.75em) {
    .right-column {
      margin-bottom: 8rem; } }

.row {
  display: flex; }

.heading-primary {
  font-family: var(--font-family-secondary);
  font-size: 5.5rem;
  margin: 0;
  letter-spacing: -0.2rem;
  line-height: 1;
  margin-bottom: 3rem;
  width: 80%; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4rem; } }

.cta {
  background-color: var(--color-red);
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  font-family: var(--font-family-secondary);
  font-weight: 500;
  border-radius: 0.5rem;
  margin-right: 2rem;
  transition: all 0.3s; }
  .cta:hover {
    opacity: 0.8; }

@media only screen and (max-width: 43.75em) {
  .logo {
    height: 2.4rem; } }

.hamburger-open,
.hamburger-close {
  height: 2rem;
  width: 2.6rem; }

@media only screen and (max-width: 47em) {
  .u-fl-c {
    flex-direction: column; } }

.nav-mobile {
  display: flex;
  visibility: visible;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 9999; }
